@import url("Normalize.css");
/* Basic rules */
:root {
  --nav-bar-color: #f7f7f7;
  --nav-bar-height: 5rem;
  --headding-color: #6c3f8b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #ea5bf7af;
}

/* Typography */

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  min-width: 250px;
}

h1,
h2,
h3 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
  color: var(--headding-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
}

p,
li {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #6f6f6f;
}

li {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }
  li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
/* General style */
.block {
  max-width: 1140px;
  margin: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

@media screen and (min-width: 936px) {
  .grid-template-2x {
    grid-template-columns: repeat(2, 1fr);
  }
}

.purble-bakcground {
  background-color: #6d3a8f;
}

.purble-bakcground h1,
.purble-bakcground h2,
.purble-bakcground h3,
.purble-bakcground p,
.purble-bakcground li {
  color: #fff;
}

/* navigation bar section style */

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header--style {
  background-color: var(--nav-bar-color);
  box-shadow: 0 0 11px 4px lightgray;
}

.logo-link > img {
  max-height: var(--nav-bar-height);
  object-fit: contain;
  padding-left: 4rem;
}

.navbar {
  float: right;
}

.navbar a {
  float: left;
  padding: 32px;
  color: #6f6f6f;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.5s;
  outline: none;
  border-radius: 15px 0;
}

.navbar a:hover {
  background-color: #a04fd6;
  color: #fff;
}

.header .nav__toggler {
  display: none;
}

@media screen and (max-width: 974px) {
  .header {
    flex-direction: column;
    position: relative;
  }
  .navbar,
  .logo-link {
    margin: auto;
  }

  .navbar {
    position: sticky;
    top: 0;
  }
  .logo-link {
    outline: none;
  }
  .logo-link > img {
    display: table;
    margin: auto;
    padding-left: 0;
  }
}

@media screen and (max-width: 790px) {
  .header .nav__toggler {
    display: block;
    font-size: 2rem;
  }
  /** incase it's expanded */
  .header.collapsible--expanded .nav__toggler {
    opacity: 1;
  }
  .header.collapsible--expanded .collapsible__content {
    display: block;
  }
  /******** */
  .header {
    align-items: center;
  }
  .navbar {
    width: 100%;
    text-align: center;
  }
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    border-radius: 0;
  }
  .logo-toggle-sec .logo-link,
  .nav__toggler {
    margin: 0;
    padding: 0 2rem;
    cursor: pointer;
  }
  .collapsible__content {
    display: none;
  }
  .nav__toggler {
    opacity: 0.6;
    transition: opacity 0.5s;
  }
  .logo-toggle-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/* to translate the heading img dowm a littl */
@media screen and (max-width: 628px) {
  .headding-img > img {
    transform: translateY(80px);
  }
}
/** banner img block */
.heading-img {
  width: 100%;
  position: relative;
  top: -4.5rem;
}

@media screen and (max-width: 530px) {
  .heading-img {
    padding-top: 8rem;
  }
}

/**  Page info syle */

/* Heading info */
.page-info {
  text-align: center;
}
.headding-img-container {
  max-height: 35rem;
  max-width: 50rem;
  padding: 0 2rem;
  margin: auto;
}

.headding-img-container > img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 20px 5px lightgray;
}

/** sing in block */

form {
  font-size: 2rem;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.form--border-style {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.email-content {
  display: flex;
  align-items: center;
}

form input {
  border-radius: 53px;
  padding: 1.2rem 3rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid gray;
  margin: 0 1rem;
}

form input[type="email"] {
  color: var(--headding-color);
}
.input-submit {
  cursor: pointer;
  transition: 400ms all ease-in-out;
}
.input-submit:hover {
  background-color: var(--headding-color);
  color: #fff;
}

@media screen and (max-width: 450px) {
  .email-input {
    font-size: 0.75rem;
    padding: 1.2rem 1rem;
  }
}
@media screen and (max-width: 694px) {
  .form--border-style {
    border: none;
  }
  form {
    flex-direction: column;
    padding: 2rem;
    width: -moz-available;
    margin-top: 0;
  }
  .email-content {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .email-input {
    width: 100%;
  }
  .email-content .email__lable {
    margin-bottom: 2rem;
  }

  .input-submit {
    width: 100%;
    margin: 2rem auto;
  }
}

/**how it works */

.how-it-work {
  margin: 3rem auto;
  border: 1px solid gray;
  padding: 0 2rem;
  border-radius: 2px;
}

.how-it-work .illustration__heading {
  white-space: nowrap;
}

.illustration-vedio {
  align-self: center;
  justify-self: center;
  width: 100%;
  padding-left: 2rem;
  outline: none;
}

.how-it-work .illustration-sec {
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 928px) {
  .how-it-work {
    padding-left: 0.5rem;
    border: none;
  }
  form {
    margin-bottom: 0;
  }
  .illustration__heading {
    padding-top: 0;
  }
  .illustration-vedio {
    margin-top: 1.5rem;
    padding-left: 0;
    padding-bottom: 1.5rem;
    height: max-content;
  }
  .illustration__paragraph {
    margin-bottom: 0;
  }
}

/**Feature block */
.feature-section {
  padding: 3rem 2rem;
}

.feature-section:nth-of-type(even) .typo {
  order: 2;
}

@media screen and (max-width: 936px) {
  .feature-section:nth-of-type(even) .typo {
    order: 0;
  }
}

.feature-section .typo {
  padding-left: 2rem;
  padding-right: 1rem;
  justify-self: center;
  align-self: center;
}

.feature-section .typo .typo__heading {
  text-transform: uppercase;
}

.feature__img {
  max-width: 600px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
}
.feature__img--black-shdow {
  box-shadow: 0 0 20px 3px rgb(56, 56, 56);
}

@media screen and (max-width: 400px) {
  .feature-section .typo {
    padding-left: 0;
  }
}

/* prices */
.pricing.flex {
  justify-content: space-around;
  margin: 10rem auto;
  cursor: pointer;
  text-align: center;
  column-gap: 1rem;
  padding: 0 2rem;
}

.card {
  border: 2px solid var(--headding-color);
  width: 27rem;
  padding: 1.5rem;
  transition: 400ms all ease-in-out;
  padding-bottom: 0;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    padding: 0;
    line-height: 2;
  }
  .pricing.flex {
    align-content: stretch;
  }
}

@media screen and (max-width: 1014px) {
  .pricing.flex {
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    height: inherit;
  }
}

.card:hover {
  background-color: var(--headding-color);
  border: 2px solid #000;
}

.card:hover h2,
.card:hover h3 {
  color: #fff;
}

.card:hover p,
.card:hover li {
  color: #eee;
}

.card h2 {
  margin-top: 0.5rem;
}

.card p {
  margin-bottom: 0;
}
