@import url("Normalize.css");
/* Basic rules */
:root {
  --background-color: #d1d2d4;
  --nav-bar-height: 5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

/* headding style */
#header {
  background-color: var(--background-color);
  box-shadow: 0 0 11px 4px lightgray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: var(--nav-bar-height);
  position: sticky;
  top: 0;
  overflow: hidden;
}

/* header img */
.header-img-link > img {
  max-height: var(--nav-bar-height);
  object-fit: contain;
  padding-left: 4rem;
}

/* navigation bar */
#nav-bar {
  align-self: center;
}

#nav-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 2rem;
  padding: 2rem;
  transition: background-color 0.5s;
  cursor: pointer;
}

#nav-bar ul li:hover {
  background-color: #ffffff;
  color: #222;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
}
