@import url("Normalize.css");
/* Basic rules */
:root {
  --nav-bar-color: #f7f7f7;
  --nav-bar-height: 5rem;
  --headding-color: #6c3f8b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: #ea5bf7af;
}

/* Typography */

body {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  color: var(--headding-color);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0.5rem;
}
p {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  color: #6f6f6f;
}

li {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  color: #6f6f6f;
}

/* General style */

.block {
  max-width: 1140px;
  margin: auto;
}

/* headding style */

#header {
  background-color: var(--nav-bar-color);
  box-shadow: 0 0 11px 4px lightgray;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: var(--nav-bar-height);
  position: sticky;
  top: 0;
  overflow: hidden;
  backdrop-filter: blur(100px);
  z-index: 1000;
}

/* header img */
.header-img-link > img {
  max-height: var(--nav-bar-height);
  object-fit: contain;
  padding-left: 4rem;
}

/* navigation bar */
#nav-bar {
  align-self: center;
}
#nav-bar ul {
  display: flex;
}

#nav-bar ul li {
  list-style: none;
  display: inline-block;
  padding: 3.5rem;
  transition: background-color 0.5s;
  cursor: pointer;
}

#nav-bar ul li:hover {
  background-color: #a04fd6;
}

#nav-bar ul li:hover a {
  color: #fff;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  outline: none;
}

/* Heading info */
.headding-info {
  text-align: center;
  margin-top: 6rem;
}
.headding-img-container {
  max-height: 35rem;
  max-width: 50rem;
  margin: auto;
}
.headding-img-container > img {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 20px 5px lightgray;
}

/**how it work */
.grid {
  display: grid;
}

@media screen and (min-width: 769px) {
  .grid-template-2x {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

#how-it-work {
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: 1px solid gray;
  padding: 0 2rem;
  border-radius: 2px;
}

.illustration-vedio {
  align-self: center;
  justify-self: center;
}

/** features  */
.purble-bakcground {
  background-color: #6d3a8f;
}

.purble-bakcground h1,
.purble-bakcground h2,
.purble-bakcground h3 {
  color: #fff;
}

.purble-bakcground p,
.purble-bakcground li {
  color: #eee;
}

.feature-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.feature-section .typo {
  padding-left: 2rem;
}

.feature__img {
  max-width: 600px;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 20px;
}
.feature__img--black-shdow {
  box-shadow: 0 0 20px 5px rgb(56, 56, 56);
}

/* prices */
.flex {
  display: flex;
  flex-wrap: wrap;
}

.pricing.flex {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
  margin-bottom: 10rem;
  cursor: pointer;
  text-align: center;
}

.card {
  border: 2px solid var(--headding-color);
  width: 27rem;
  padding: 1.5rem;
  transition: 400ms all ease-in-out;
  padding-bottom: 0;
}

.card:hover {
  background-color: var(--headding-color);
  border: 2px solid #000;
}

.card:hover h2,
.card:hover h3 {
  color: #fff;
}

.card:hover p,
.card:hover li {
  color: #eee;
}

.card h2 {
  margin-top: 0.5rem;
}

.card p {
  margin-bottom: 0;
}

form {
  text-align: center;
  font-size: 2rem;
  margin: 8rem;
}

form input {
  border-radius: 1.5rem;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  color: var(--headding-color);
  border: 1px solid gray;
}
.input-submit {
  padding: 1.2rem 3rem;
  cursor: pointer;
  border-radius: 53px;
  transition: 400ms all ease-in-out;
}
.input-submit:hover {
  background-color: var(--headding-color);
  color: #fff;
}
#footer {
  background-color: var(--nav-bar-color);
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1.5;
}
